.body{
  margin: 0;
  padding: 0;
  background-color: #282c34;
}

.App {
  background-color: #282c34;
  margin: 0;
  padding: 20px 0 0 20px;
}


.App-body {
  min-height: 100vh;
}

.App-link {
  color: #61dafb;
}

h1 {
  margin: 0 0 20px 0px;
  color: lightblue;
}

h2 {
  margin: 0;
  color: lightblue;
}

.button-panel {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 15px;
}

.button {
  color: lightblue;
  background-color: #111;
  padding: 10px;  
  border-radius: 5px;
  cursor: pointer;
  filter: drop-shadow(5px 5px 3px rgba(0, 0, 0, 0.3));
  border: 1px solid transparent;
  margin: 0 0 10px 10px;
}

.button-active{
  background-color: #222;
  transform: translateY(3px);
  filter: drop-shadow(5px -5px 3px rgba(0, 0, 0, 0.0));
  border: 1px solid lightblue;
}

.button-greyed-out {
  color: white;
  background-color: #f00;
  padding: 10px;  
  border-radius: 5px;
  cursor: pointer;
  filter: drop-shadow(5px 5px 3px rgba(0, 0, 0, 0.3));
  border: 1px solid transparent;
  margin: 0 0 10px 10px;
}
.hint {
  color: red;
}
.plot{
  font-family: "Computer Modern Serif";
  margin-left: 5px;
  margin-right: 5px;
}
